.contact {
    text-align: center;
    padding: 40px;
    background: #f8f8f8;
}

.contact h2,p {
    color:white;
}

.contact form {
    max-width: 400px;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.contact input, .contact textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.contact button {
    padding: 10px;
    background: #ff9800;
    color: white;
    border: none;
    cursor: pointer;
}

.contact-info {
    margin-top: 20px;
}

.contact-info a {
    color: #ff9800;
    text-decoration: none;
}
